@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Zilla+Slab:ital@1&display=swap');

body {
    font-size: 20px;
    font-family: 'Amarante', cursive;
    font-family: 'Zilla Slab', serif;   
    
}
.header{
    display: flex;
    gap: 20px;
    justify-content: space-between;

    border-style: solid;
    border-color: white white #d5b3ff white;

    padding: 15px;
    margin: 0;
}


/* logo */

.logo-container {
    display: flex;
    align-content: center;
    justify-content: center;
    padding-left: 20px;
}
#logo {
    width: 5vh;
    height: auto;
}

/*left links */
.links-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

#more {
    color: #ff764d;
}

/* right links */
.links-right {
    display: flex;
    align-items: center;
    gap: 20px;

    justify-content: end;
    flex-grow: 2;
    padding-right: 20px;

}

#try {
    color: #0000ff;
}

/* extra links */
.extra-links {
    display: flex;
    gap: 20px;
    align-content: center;
    justify-content: start;
    padding: 20px;
    font-size: 15px;
}

#about {
    color: #ff764d;
}

/*about section */
#about-pic{
    width: 150vh;
    height: auto;
}

.main-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10vh;
}

h1 {
    font-size: 30px;
}

#blue-link{
    color: #0000ff;
}

.about-text {
    display: flex;
    flex-direction: column;
    width: 100vh;
    gap: 0px;
    margin: 0;
}

/*about gallery */
.main-about-gallery{
    display: flex;
    overflow: visible;
    gap: 20px;
}

.gallery-img-container {
    display: flex;
    align-items: center;
    overflow: visible;
    width: 50vh;
    position: relative;
}

.main-about-gallery-bg{
    background-color:#fbffa7;
    width: 90vh;
    height: 90vh;

    display: flex;
    justify-content: center;
    justify-self: flex-end;
    align-items: center;
    overflow: visible;


    padding:10vh;


}



#img-2 {
    width: 50vh;
    
}

#img-1{
    width: 70vh;
    height: 70vh;
    overflow: visible;
}

/*about 2 */
.about-2 {
    margin: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10vh;
}
.about-2-text {
    display: flex;
    flex-direction: column;
    width: 100vh;
    gap: 0px;
    margin: 0;
}

/*about 3 */
.about-3 {
    margin: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10vh;
}
.about-3-text {
    display: flex;
    flex-direction: column;
    width: 100vh;
    gap: 0px;
    margin: 0;
}

.about-3-gallery{
    display: flex;
    overflow: visible;
    gap: 0px;
}

.about-3-gallery-bg{
    background-color: #b6ffc0;
    width: 100vh;
    height: 120vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-self: flex-end;
    align-items: center;
    overflow: visible;
    align-self: flex-start;

    
    gap: 10vh;



}

.about-3-img-container{
    display: flex;
    align-items: center;
    
    overflow: visible;
}

#img-6{
    width: 50vh;
}

#img-4{
    width: 50vh;
}

#img-5{
    width: 70vh;
    height: 70vh;
    position: relative;

}